*   {
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(79, 112, 101);
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
}

.flex-container2 {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(79, 112, 101);
    flex-direction: row;
    padding: 10px;
    border: 2px solid black;
}

.flex-container3 {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(79, 112, 101);
    flex-direction: row;
    padding: 10px;
    border: 2px solid black;
}




.flex-container div{
    background-color: rgb(30, 210, 60);
    width: 100px;
    margin: 2px;
    
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}
.flex-container2 div   {
    background-color: #97bbf1;
    width: 100px;
    margin: 2px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}

 .imagen1  {
    height: 60px;
    border-radius: 1000%;
    
    
}
 .imagen2{height: 60px;
    border-radius: 1000%;
    
    
 }

 .imagen3{
    height: 60px;
    border-radius: 1000%;

 }
 .imagen4{height: 60px;
    border-radius: 1000%;
    
    
 }
 .imagen5{height: 60px;
    border-radius: 1000%;
    
    
 }